body {
    margin: 0;
}

.main-container {
display:flex;
flex-direction:row;
border-color: black;
width: auto;
}

.left-column {

background-image: url("images.jpeg");
border-color: black;
color: white;
width: 40%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.right-column {
display: flex;
width: 60%;
flex-direction: column;
align-items: start;
justify-content:center;
background-color: #F9FAFB;
min-width: 480px;
}

.row-white {
    background-color: #FFFFFF;
    width: fit-content;
    padding: 1em;
    margin: 0;
    width: 95%;
    filter: drop-shadow(0px 2px 5px grey);
    flex-wrap: wrap;
}

.row-grey {
    background-color: #F9FAFB;
    width: auto;
    padding: 1em;
    margin: 0;
    flex-wrap: wrap;
}

.logotype-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.4);
    padding: 1em 6em 1em 1em;
    overflow: hidden;
    flex: 1;
}

.logo-container {
    display:flex;
    min-width: 50%;
    justify-content: end;
    
}

.logo-container img {
    max-width: 50%;
    max-height: auto;
    min-width: 30%;
    min-height: auto;
    display: flex;
    justify-content: start;
    flex-shrink: 1;
}

.type-container {
    display: flex;
    max-width: 100%;
    min-width: 50%;
}

#footer {
    display:span;
    position: absolute;
    bottom: 1px;
    text-align: center;
    width: 40%;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-row {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

.form-column {
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: norse;
    src: url(../signup_form/Fonts/norse.otf);
  }

h1 {
    font-family: norse;
    font-size: 2.5em;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 4px;
  }

input:focus {
    border: 1px solid blue;
    outline:none;
    filter: drop-shadow(0px 1px 5px grey);
}

input:user-invalid {
    border: 2px solid red;
    outline:none;
    filter: drop-shadow(0px 1px 5px red);
}

.create-account-button {
    background-color: #596D48;
    color:white;
    border-radius: 5px;
    outline: none;
    padding: 1em;
}

a {
    color: #596D48;
    text-decoration: none;
  }

p {
    font-family: Helvetica, sans-serif;
}